h1{
    background-color: brown;
    color: white;
    font-style: italic;
    font-size: 60px;
    text-align: center;
}

.recipie-link{
    background-color: darkblue;
    color: lime;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: lime;
}